{% extends 'base.html' %}

{% block contend %}

    <table class="table">
        <thead>
        </thead>
        <tbody>
        {% for elemet in object_list %}
            <tr>
                <th scope="row">
                    <p>{{ elemet }}</p>
                </th>
                <th>
                    <div class="d-grid gap-2 d-md-block">
                        <a href="{% url "rinconDelSabor:updateProduct" elemet.id %}" class="btn btn-success">Actualizar</a>
                        <a href="{% url "rinconDelSabor:deleteProduct" elemet.id %}" class="btn btn-success">Eliminar</a>
                    </div>
                </th>


            </tr>
        {% endfor %}
        </tbody>


    </table>




{% endblock %}