{% extends 'base.html' %}

{% block contend %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit" class="btn btn-primary btn-sm">Borrar</button>

</form>
{% endblock %}