{% extends 'base.html' %}

{% block contend %}

    <table class="table">
        <thead>
        <tr>
            <th scope="row">
                <p>ID FACTURA</p>
            </th>
            <th scope="row">
                <p>NOMBRE CLIENTE</p>
            </th>
            <th scope="row">
                <p>Opciones</p>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for elemet in object_list %}
            <tr>
                <th scope="row">
                    <p>{{ elemet }}</p>
                </th>
                <th scope="row">
                    <p>{{ elemet.id_client.first_name }} {{ elemet.id_client.last_name }}</p>
                </th>
                <th>
                    <div class="d-grid gap-2 d-md-block">
                    </div>
                </th>
                <th>
                    <a href="{% url "rinconDelSabor:updateFacture" elemet.id %}" class="btn btn-success">Actualizar</a>
                    <a href="{% url "rinconDelSabor:deleteFacture" elemet.id %}" class="btn btn-success">Eliminar</a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}